@CHARSET "UTF-8";

@media screen, projection
{
/*+++++++++++++++++++++++++++定义屏幕的整体布局模板 (Start)+++++++++++++++++++++++++++*/
/** 
 * 为了防止,突然出现滚动条而导致页面布局改变,所以一开始就设置竖直滚动条是显示的 
 */
	body {
		overflow-y: scroll;
	}

/*------------------------------------------------------------------------------------------------------*/

/***************************定义布局的基础样式***************************/
/* Page margins and background */
	body {
		
	}

/* Layout:Width, Background, Border */
	.aps-page_margins {
		
	}
	
	.aps-page {
		
	}

/* Design of the Main Layout Elements */
	#aps-header {
		
	}
	
	#aps-topnav {
		
	}
	
	#aps-main {
		
	}
	
	#aps-footer {
		
	}

/*------------------------------------------------------------------------------------------------------*/

/***************************定制内容区域列布局样式***************************/
	#aps-col1 {
		
	}
	
	#aps-col1_content {
		
	}
	
	#aps-col2 {
		
	}
	
	#aps-col2_content {
		
	}
	
	#aps-col3 {
		
	}
	
	#aps-col3_content {
		
	}

/*------------------------------------------------------------------------------------------------------*/

/***************************定制Skiplinks导航样式***************************/
	#aps-skiplinks a.aps-skip:focus, #aps-skiplinks a.aps-skip:active {
		color: #fff;
		background: #333;
		border-bottom: 1px #000 solid;
		padding: 10px 0;
		text-decoration: none;
	}
	
/***************************这里放置自定义的一些样式***************************/

/*------------------------------------------------------------------------------------------------------*/

/*+++++++++++++++++++++++++++定义屏幕的整体布局模板 (End)+++++++++++++++++++++++++++*/
}