/*!base.css  */
@CHARSET "UTF-8";

@media all
{
	
	* {
		margin: 0;
		padding: 0;
	}

	option {
		padding-left: 0.4em;
	}
	select {
		padding: 1px;
	}

	* html body * {
		overflow: visible;
	}

	body {
		font-size: 100.01%;
		background: #fff;
		color: #000;
	}

	div {
		outline: 0 none;
	}

	article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
		display: block;
	}

	fieldset,img {
		border: 0 solid;
	}

	blockquote {
		margin: 0 0 1em 0.8em;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: "";
	}

/***************************定义清除浮动的样式***************************/
	.aps-clearfix:after {
		clear: both;
		content: ".";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}

	.aps-clearfix {
		display: block;
	}

	.aps-floatbox {
		display: table;
		width: 100%;
	}

	#aps-ie_clearing {
		display: none;
	}

	.aps-skip, .aps-hideme {
		position: absolute;
		top: -32768px;
		left: -32768px;
	}

	.aps-skip:focus, .aps-skip:active {
		position: static;
		top: 0;
		left: 0;
	}

	#aps-skiplinks {
		position: absolute;
		top: 0px;
		left: -32768px;
		z-index: 1000;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	#aps-skiplinks .aps-skip:focus, #aps-skiplinks .aps-skip:active {
		left: 32768px;
		outline: 0 none;
		position: absolute;
		width: 100%;
	}

}

@media screen, projection
{
	
	#aps-col1 {
		float: left;
		width: 20%;
	}
	
	#aps-col2 {
		float: right;
		width: 20%;
	}
	
	#aps-col3 {
		width: auto;
		margin: 0 20%;
	}
	
	#aps-col1_content, #aps-col2_content, #aps-col3_content {
		position: relative;
	}
	
	.aps-subcolumns {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	
	.aps-subcolumns_oldgecko {
		width: 100%;
		float: left;
	}
	
	.aps-col_left {
		float: left;
	}
	
	.aps-layout_left {
		float: left;
	}
	
	.aps-col_right {
		float: right;
		margin-left: -5px;
	}
	
	.aps-layout_right {
		float: right;
		margin-left: -5px;
	}
	
	.aps-subc {
		padding: 0 0.5em;
	}
	
	.aps-subcl {
		padding: 0 1em 0 0;
	}
	
	.aps-subcr {
		padding: 0 0 0 1em;
	}
	
	.aps-equalize,.aps-equalize .aps-subcolumns {
		table-layout: fixed;
	}
	
	.aps-equalize > div {
		display: table-cell;
		float: none;
		margin: 0;
		overflow: hidden;
		vertical-align: top;
	}
	
	.aps-portlet-container-wrapper {
    float: left;
}

.aps-portlet-container {
	min-height : 100px;
	zoom: 1;
}
	
}