/*+++++++++++++++++++++++++++设置纵向导航条 (Start)+++++++++++++++++++++++++++*/
@media all
{
  /* 标题 */
  h6.aps-vlist {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:100%;
    width:90%;
    padding:3px 0px 3px 10%;
    margin:0;
    color:#444;
    background-color:#fff;
    border-top:2px #ddd solid;
    border-bottom:4px #888 solid;
  }

  .aps-vlist {
    width:100%;
    overflow:hidden;
    margin:0 0 1.5em 0;
    list-style-type:none;
    border-bottom:2px #ddd solid;
  }

  .aps-vlist ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .aps-vlist li {
    float:left;
    width:100%;
    margin:0;
    padding:0;
  }

  .aps-vlist a,
  .aps-vlist strong,
  .aps-vlist span {
    display:block;
    padding:3px 0px 3px 10%;
    text-decoration:none;
    border-bottom:1px #ddd solid;
  }

  .aps-vlist a,
  .aps-vlist a:visited {
    color:#444;
  }

  .aps-vlist li span {
    display:block;
    font-weight:bold;
    border-bottom:1px #ddd solid;
  }

  /* 活动列表 */
  .aps-vlist li.active {
    color:#fff;
    background-color:#800;
    font-weight:bold;
  }

  /* 一级列表 */
  .aps-vlist li a,
  .aps-vlist li strong,
  .aps-vlist li span { width:90%; padding-left:10%; }

  .aps-vlist li a:focus,
  .aps-vlist li a:hover,
  .aps-vlist li a:active { background-color:#a88; color:#fff; outline: 0 none; }

  /* 二级列表 */
  .aps-vlist li ul li a,
  .aps-vlist li ul li strong,
  .aps-vlist li ul li span { width:80%; padding-left:20%; }

  .aps-vlist li ul li a, 
  .aps-vlist li ul li a:visited { background-color:#f8f8f8; color:#333; }
  .aps-vlist li ul li a:focus,
  .aps-vlist li ul li a:hover,
  .aps-vlist li ul li a:active { background-color:#a88; color:#fff; }

  /* 三级列表 */
  .aps-vlist li ul li ul li a,
  .aps-vlist li ul li ul li strong,
  .aps-vlist li ul li ul li span { width:70%; padding-left:30%; }

  .aps-vlist li ul li ul li a,
  .aps-vlist li ul li ul li a:visited{ background-color:#f0f0f0; color:#222; }
  .aps-vlist li ul li ul li a:focus,
  .aps-vlist li ul li ul li a:hover,
  .aps-vlist li ul li ul li a:active { background-color:#a88; color:#fff; }

  /* 四级列表 */
  .aps-vlist li ul li ul li ul li a,
  .aps-vlist li ul li ul li ul li strong,
  .aps-vlist li ul li ul li ul li span { width:60%; padding-left:40%; }

  .aps-vlist li ul li ul li ul li a,
  .aps-vlist li ul li ul li ul li a:visited { background-color:#e8e8e8; color:#111; }
  .aps-vlist li ul li ul li ul li a:focus,
  .aps-vlist li ul li ul li ul li a:hover,
  .aps-vlist li ul li ul li ul li a:active { background-color:#a88; color:#fff; }
}
/*+++++++++++++++++++++++++++设置纵向导航条 (End)+++++++++++++++++++++++++++*/