@CHARSET "UTF-8";

@media screen, projection
{
/*+++++++++++++++++++++++++++定义屏幕的整体布局模板 (Start)+++++++++++++++++++++++++++*/
/** 
 * 为了防止,突然出现滚动条而导致页面布局改变,所以一开始就设置竖直滚动条是显示的 
 */
	body {
		overflow-y: scroll;
	}

/*------------------------------------------------------------------------------------------------------*/

/***************************定义布局的基础样式***************************/
/* Page margins and background */
	body {
		background:#4d87c7 url("images/bg_blue.png") repeat-x top left fixed;
		padding:10px 0;
		text-align:center;
	}

/* Layout:Width, Background, Border */
	.aps-page_margins {
		text-align:left; margin:0 auto;
		min-width:740px; 
		max-width:80em; 
		background:#fff;
	}
	
	.aps-page {
		padding:10px;
	}

/* Design of the Main Layout Elements */
	#aps-header {
		color:#000;
	    background:#fff repeat-x top left;
	    padding:45px 2em 1em 20px;
		position:relative;
	}
	
	#aps-topnav {
		background:transparent; 
	  	color:#aaa; 
	    position:absolute;
	    top:10px;
	    right:10px; /* LTR */
		text-align:right; /* LTR */
	}
	
	#aps-main {
		background:#fff;padding:10px 0;
	}
	
	#aps-footer {
		color:#666;
	    background:#f9f9f9;
	    padding:10px 20px;
	    border-top:5px #efefef solid;
	    line-height:1.5em;
	}

/*------------------------------------------------------------------------------------------------------*/

/***************************定制内容区域列布局样式***************************/
	#aps-col1 {
		width:25%;
	}
	
	#aps-col1_content {
		padding:10px 10px 10px 20px;
	}
	
	#aps-col2 {
		width:25%;
	}
	
	#aps-col2_content {
		padding:10px 20px 10px 10px;
	}
	
	#aps-col3 {
		 margin:0 25%;
	}
	
	#aps-col3_content {
		padding:10px;
	}
	
	#aps-header h1 {
	    font-weight:bold;
	    font-size:2.5em;
	    letter-spacing:-2px;
	    line-height:65%;
	    color:#000;
    }

/*------------------------------------------------------------------------------------------------------*/

/***************************定制Skiplinks导航样式***************************/
	#aps-skiplinks a.aps-skip:focus, #aps-skiplinks a.aps-skip:active {
		color: #fff;
		background: #333;
		border-bottom: 1px #000 solid;
		padding: 10px 0;
		text-decoration: none;
	}
	
/*+++++++++++++++++++++++++++定义屏幕的整体布局模板 (End)+++++++++++++++++++++++++++*/
}