<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syq.biz.mapper.RenewalPassportMapper">

	<resultMap id="BaseResultMap" type="com.syq.biz.bo.RenewalPassportBo" >
	  <id column="id" property="id" jdbcType="BIGINT" />
	  <result column="task_id" property="taskId" jdbcType="BIGINT" />
	  <result column="task_code" property="taskCode" jdbcType="VARCHAR" />
	  <result column="passport_no" property="passportNo" jdbcType="VARCHAR" />
	  <result column="passport_type" property="passportType" jdbcType="CHAR" />
	  <result column="country_code" property="countryCode" jdbcType="VARCHAR" />
	  <result column="name" property="name" jdbcType="VARCHAR" />
	  <result column="sex" property="sex" jdbcType="SMALLINT" />
	  <result column="data_birth" property="dataBirth" jdbcType="TIMESTAMP" />
	  <result column="place_birth" property="placeBirth" jdbcType="VARCHAR" />
	  <result column="place_issue" property="placeIssue" jdbcType="VARCHAR" />
	  <result column="date_issue" property="dateIssue" jdbcType="TIMESTAMP" />
	  <result column="date_expire" property="dateExpire" jdbcType="TIMESTAMP" />
	  <result column="anthority" property="anthority" jdbcType="VARCHAR" />
	  <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
	  <result column="passport_status" property="passportStatus" jdbcType="SMALLINT" />
	  <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	  <result column="operator_time" property="operatorTime" jdbcType="TIMESTAMP" />
	  <result column="operator_id" property="operatorId" jdbcType="TIMESTAMP" />
	  <result column="flow_status" property="flowStatus" jdbcType="SMALLINT" />
	  <result column="flow_msg" property="flowMsg" jdbcType="VARCHAR" />
	  <result column="instruction_no" property="instructionNo" jdbcType="VARCHAR" />
	  <result column="header_name" property="headerName" jdbcType="VARCHAR" />
	  <result column="task_country" property="taskCountry" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List" >
	  p.id, p.task_id, t.header_name, t.task_country, t.instruction_no, p.task_code, passport_no, passport_type, country_code, name
	  , sex, data_birth, place_birth, place_issue, date_issue, date_expire, 
	  anthority, id_number, passport_status, rp.create_time, rp.operator_time, rp.operator_id,
	  rp.flow_status, rp.flow_msg
	</sql>
    <sql id="Base_Column_Table">
   		from passport p join task t on p.task_id = t.id left join renewal_passport rp on p.id = rp.passport_id 
    </sql>
	<sql id="Example_Where_Clause" >
	  <where>
	    t.status = 2 AND (rp.flow_status is null or rp.flow_status IN (1,2))
		<if test="taskCode != null">
	           AND p.task_code = #{taskCode}  
		</if>
		<if test="name != null and name != ''">
	           AND name like CONCAT('%',#{name},'%') 
		</if>
		<if test="idNumber != null and idNumber != ''">
	           AND id_number = #{idNumber}  
		</if>
		<if test="passportNo != null and passportNo != ''">
	           AND passport_no = #{passportNo}  
		</if>
		<if test="passportStatus != null">
	           AND passport_status = #{passportStatus}  
	    </if>
   	    <if test="dateIssue != null and dateIssue!=''">
	          AND date_issue &gt;= #{dateIssue}
        </if>
        <if test="dateExpire != null and dateExpire!=''">
	          AND date_expire &gt;= #{dateExpire}
	    </if>
        <if test="instructionNo != null and instructionNo != ''">
	          AND t.instruction_no = #{instructionNo}
	    </if>
	    <if test="expireBeginTime != null ">
			  AND date_expire <![CDATA[>=]]> #{expireBeginTime} 
		</if> 
		<if test="expireEndTime != null "> 
		      AND date_expire <![CDATA[<=]]> #{expireEndTime} 
		</if>
		<if test="notReturnLimitTime != null "> 
		      AND operator_time <![CDATA[<=]]> #{notReturnLimitTime}
		</if>
	    
	    <if test="status != null and status.length != 0">
	       AND rp.flow_status in <foreach item="s" collection="status" open="(" separator=","
					close=")">
					#{s}
				</foreach>
	    </if>
	  </where>
	</sql>
	 
	 <select id="selectByPrimaryKey" parameterType="long" resultMap="BaseResultMap">  
	     select
	     <include refid="Base_Column_List" />
	     <include refid="Base_Column_Table" />
	     where id = #{id,jdbcType=BIGINT}
	 </select>
	 
	 <select id="selectCount" parameterType="com.syq.pagination.common.PassportPo" resultType="int">
	   select count(*) 
	   <include refid="Base_Column_Table" />
	   <include refid="Example_Where_Clause" />
	 </select>
	 
	 <select id="selectCondition" parameterType="com.syq.pagination.common.PassportPo" resultMap="BaseResultMap">
	   select
	     <include refid="Base_Column_List" />
	     <include refid="Base_Column_Table" />
	     <include refid="Example_Where_Clause" />
	     <if test="sortField != null and sortField != ''">
			order by ${sortField}
			<if test="sortOrder != null and sortOrder != '' ">
				${sortOrder}
			</if>
	 	</if>
		<if test="start != null and maxResults != null">
			limit ${start}, ${maxResults}
		</if>
	 </select>
	 	 
	 <insert id="save" parameterType="com.syq.biz.domain.Passport" useGeneratedKeys="true" keyProperty="id">
		insert into passport (task_id, task_code, 
		     passport_no, passport_type, country_code, 
		     name,
		     sex, data_birth, place_birth, 
		     place_issue, date_issue, date_expire, 
		     anthority, id_number, passport_status, 
		     flow_status,flow_msg, create_time, operator_time, operator_id
		     )
		   values (#{taskId,jdbcType=BIGINT}, #{taskCode,jdbcType=VARCHAR}, 
		     #{passportNo,jdbcType=VARCHAR}, #{passportType,jdbcType=CHAR}, #{countryCode,jdbcType=VARCHAR}, 
		     #{name,jdbcType=VARCHAR},
		     #{sex,jdbcType=SMALLINT}, #{dataBirth,jdbcType=TIMESTAMP}, #{placeBirth,jdbcType=VARCHAR}, 
		     #{placeIssue,jdbcType=VARCHAR}, #{dateIssue,jdbcType=TIMESTAMP}, #{dateExpire,jdbcType=TIMESTAMP}, 
		     #{anthority,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{passportStatus,jdbcType=SMALLINT}, 
		     #{flowStatus,jdbcType=SMALLINT},#{flowMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{operatorTime,jdbcType=TIMESTAMP},
		     #{operatorId,jdbcType=VARCHAR}
		     )	
	 </insert>
	 
	 <insert id="saveRenewalPassport" parameterType="com.syq.biz.domain.RenewalPassport" useGeneratedKeys="true" keyProperty="id">
		insert into renewal_passport (passport_id, flow_status,flow_msg, create_time, operator_time, operator_id)
		   values (#{passportId,jdbcType=BIGINT}, #{flowStatus,jdbcType=SMALLINT},#{flowMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{operatorTime,jdbcType=TIMESTAMP},
		     #{operatorId,jdbcType=VARCHAR}
		     )	
	 </insert>

	
	  <update id="update" parameterType="com.syq.biz.domain.Passport">
		update passport
		   <set >
		     <if test="taskId != null" >
		       task_id = #{taskId,jdbcType=BIGINT},
		     </if>
		     <if test="taskCode != null" >
		       task_code = #{taskCode,jdbcType=VARCHAR},
		     </if>
		     <if test="passportNo != null" >
		       passport_no = #{passportNo,jdbcType=VARCHAR},
		     </if>
		     <if test="passportType != null" >
		       passport_type = #{passportType,jdbcType=CHAR},
		     </if>
		     <if test="countryCode != null" >
		       country_code = #{countryCode,jdbcType=VARCHAR},
		     </if>
		     <if test="name != null" >
		       name = #{name,jdbcType=VARCHAR},
		     </if>
		     <if test="sex != null" >
		       sex = #{sex,jdbcType=SMALLINT},
		     </if>
		     <if test="dataBirth != null" >
		       data_birth = #{dataBirth,jdbcType=TIMESTAMP},
		     </if>
		     <if test="placeBirth != null" >
		       place_birth = #{placeBirth,jdbcType=VARCHAR},
		     </if>
		     <if test="placeIssue != null" >
		       place_issue = #{placeIssue,jdbcType=VARCHAR},
		     </if>
		     <if test="dateIssue != null" >
		       date_issue = #{dateIssue,jdbcType=TIMESTAMP},
		     </if>
		     <if test="dateExpire != null" >
		       date_expire = #{dateExpire,jdbcType=TIMESTAMP},
		     </if>
		     <if test="anthority != null" >
		       anthority = #{anthority,jdbcType=VARCHAR},
		     </if>
		     <if test="idNumber != null" >
		       id_number = #{idNumber,jdbcType=VARCHAR},
		     </if>
		     <if test="passportStatus != null" >
		       passport_status = #{passportStatus,jdbcType=SMALLINT},
		     </if>
		     <if test="flowStatus != null" >
		       flow_status = #{flowStatus,jdbcType=SMALLINT},
		     </if>
		     <if test="flowMsg != null" >
		       flow_msg = #{flowMsg,jdbcType=VARCHAR},
		     </if>		     
		     <if test="createTime != null" >
		       create_time = #{createTime,jdbcType=TIMESTAMP},
		     </if>
		     <if test="operatorTime != null" >
		       operator_time = #{operatorTime,jdbcType=TIMESTAMP},
		     </if>
		     <if test="operatorId != null" >
		       operator_id = #{operatorId,jdbcType=TIMESTAMP},
		     </if>
		   </set>
		  	where id = #{id,jdbcType=BIGINT}
	 </update>
	 
	 <update id="updateRenewalPassport" parameterType="com.syq.biz.domain.RenewalPassport">
		update renewal_passport
		   <set >
		     <if test="flowStatus != null" >
		       flow_status = #{flowStatus,jdbcType=SMALLINT},
		     </if>
		     <if test="flowMsg != null" >
		       flow_msg = #{flowMsg,jdbcType=VARCHAR},
		     </if>		     
		     <if test="createTime != null" >
		       create_time = #{createTime,jdbcType=TIMESTAMP},
		     </if>
		     <if test="operatorTime != null" >
		       operator_time = #{operatorTime,jdbcType=TIMESTAMP},
		     </if>
		     <if test="operatorId != null" >
		       operator_id = #{operatorId,jdbcType=TIMESTAMP},
		     </if>
		   </set>
		  	where passport_id = #{passportId,jdbcType=BIGINT}
	 </update>
	 
 	 <delete id="delete" parameterType="java.lang.Long" >
		delete from renewal_passport
		where id = #{id,jdbcType=BIGINT}
	 </delete>
	 
	 <delete id="deleteByPassportId" parameterType="java.lang.Long" >
		delete from renewal_passport
		where passport_id = #{passportId,jdbcType=BIGINT}
	 </delete>
</mapper>